<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register-form">
            <div class="form">
                <div class="note">
                    <h2>Add New Post</h2>
                </div>

                <div class="form-content">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="title" value=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <textarea rows="4" cols="50" class="form-control" placeholder="Enter..." value="">
                            </textarea>
                        </div>
                    </div>
                </div>
                    <button type="button" class="btnSubmit">Submit</button>
                </div>
            </div>
</div>